
/* Box Nera */
.box {
    position: absolute;
    border-radius: 30px 30px 30px 30px;
    left: 430px;
    top: 60px;
    width: 1150px;
    height: 750px;
    background: black;
    opacity: 0.5;
}

/* Logo */

.logo {
    width: auto;
    height: auto;
    position: absolute;
    left: 860px;
    top: 100px;
}

/* Scritta: Taking Boolean .. */

.container {
    position: absolute;
    color: rgb(46, 214, 12);
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    top: 230px;
    left: 725px;
    width: 90%;
    min-width: 500px;
    margin: auto;

}


/* Barra Superiore Verde */

.divisore {
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    bottom: 400px;
    right: 0;
    left: 500px;
    top: 280px;
    width: 1000px;
    height: 50px;
    background: rgb(60, 226, 9);
}

/* Bottoni */

.bottone1 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 822px;
    top: 293px;
    
}

.bottone2 {

    position: absolute;
    left: 900px;
    top: 293px;
}

.bottone3 {
    position: absolute;
    left: 1060px;
    top: 293px;
}

/* Barre stato di carica */

.b_arancione {
    background: rgb(247, 180, 57);
    position: absolute;
    border-radius: 7px 7px 7px 7px;
    bottom: 500px;
    right: 0;
    left: 500px;
    top: 420px;
    width: 300px;
    height: 33px;

}

.b_verde {
    background: rgb(19, 170, 5);
    position: absolute;
    border-radius: 7px 7px 7px 7px;
    bottom: 500px;
    right: 0;
    left: 500px;
    top: 560px;
    width: 450px;
    height: 33px;
}

.b_rosso {
    background: rgb(187, 36, 36);
    position: absolute;
    border-radius: 7px 7px 7px 7px;
    bottom: 500px;
    right: 0;
    left: 500px;
    top: 700px;
    width: 220px;
    height: 33px;

}

/* Info Monopattini */

.testo1 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    top: 378px;
    bottom: 0;
    left: 500px;
    right: 0;
    margin: auto;
    line-height: 14px;
}

.testo2 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    top: 520px;
    bottom: 0;
    left: 500px;
    right: 0;
    margin: auto;
    line-height: 14px;
}

.testo3 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    top: 660px;
    bottom: 0;
    left: 500px;
    right: 0;
    margin: auto;
    line-height: 14px;
}

/* Monopattini disponibili */

.monopattino1 {
    color: white;
    font-size: 24px;
    font-weight: normal;
    font-family: 'calibri';
    position: absolute;
    top: 342px;
    bottom: 0;
    left: 490px;
    right: 0;
    margin: auto;
}

.monopattino2 {
    color: white;
    font-size: 24px;
    font-weight: normal;
    font-family: 'calibri';
    position: absolute;
    top: 485px;
    bottom: 0;
    left: 490px;
    right: 0;
    margin: auto;
}

.monopattino3 {
    color: white;
    font-size: 24px;
    font-weight: normal;
    font-family: 'calibri';
    position: absolute;
    top: 625px;
    bottom: 0;
    left: 490px;
    right: 0;
    margin: auto;
}